html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1918px;
  background: #fff;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  color: #000;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 15px;
  }
}

.inner {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.active {
  color: #fff !important;
}

.flex-row {
  display: flex;
  gap: 16px;
}

.sidebar {
  background: #191718;
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
@media (max-width: 600px) {
  .sidebar {
    width: 130px;
  }
}
.sidebar-link {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 19px;
  color: #aaa;
  font-style: normal;
  font-weight: 700;
  padding: 14px 0 11px 16px;
  border-bottom: 1px solid #5c5c5c;
}
@media (max-width: 600px) {
  .sidebar-link {
    font-size: 14px;
  }
}
.sidebar-link:hover {
  background: #5c5c5c;
  color: #fff;
}

.content {
  margin-bottom: auto;
  margin-left: 150px;
}
@media (max-width: 600px) {
  .content {
    margin-left: 130px;
  }
}
.content-logo {
  margin: 20px auto 30px;
  object-fit: cover;
}
@media (max-width: 900px) {
  .content-logo {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .content-logo {
    width: 200px;
  }
}
.content-heading {
  text-align: center;
  padding: 38px 269px;
  background: #efefef;
  margin-bottom: 40px;
}
@media (max-width: 1799px) {
  .content-heading {
    padding: 30px 150px;
  }
}
@media (max-width: 1200px) {
  .content-heading {
    padding: 30px 100px;
  }
}
@media (max-width: 900px) {
  .content-heading {
    padding: 30px 50px;
  }
}
@media (max-width: 600px) {
  .content-heading {
    padding: 10px 20px;
  }
}
.content-heading h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 18px;
}
@media (max-width: 600px) {
  .content-heading h2 {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 600px) {
  .content-heading p {
    font-size: 16px;
    font-weight: 600;
  }
}
.content-list {
  display: flex;
  gap: 0 50px;
  margin-bottom: 218px;
}
@media (max-width: 1799px) {
  .content-list {
    gap: 0 30px;
  }
}
@media (max-width: 1200px) {
  .content-list {
    gap: 0 20px;
  }
}
@media (max-width: 900px) {
  .content-list {
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
  }
}
.content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 18px;
}
@media (max-width: 900px) {
  .content-title {
    font-size: 20px;
    font-weight: 500;
  }
}
.content-icon {
  background-size: contain;
  object-fit: cover;
}
.content p {
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 1200px) {
  .content p {
    line-height: 16px;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .content p {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 600px) {
  .content p {
    font-size: 13px;
    line-height: 13px;
  }
}

.footer {
  margin-left: 150px;
  border-top: 1px solid #dedede;
}
.footer p {
  padding: 30px 0;
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 900px) {
  .footer p {
    padding: 15px 0;
  }
}

/*# sourceMappingURL=app.css.map */
